* {
    margin: 0;
    padding: 0;
}

body {
   background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
}

.btn-primary {
    margin: 5px 5px;
}

.Main {
    background-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

.navbar {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.accordion {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.accordion-item{
    border: 2px solid black;
}

.active {
    color: #ffff;
}

.About {
    margin-left: 50px;
}

.table{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 20px;
    border: 2px solid black;
}

.box{
    display: flex;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
}

.ratio{
    border: 3px solid rgb(255, 0, 0);
}

.rounded{
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

.round{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
}

.img{
    height: 500px;
    width: 100px;
    border: 2px solid black;
}

.Img{
    height: 300px;
    width: 100px;
    border: 2px solid black;
}

@media screen and (max-width: 500px)
{
.box{width:50%}
}